ol.notes
  @extend %t-small
  @extend %reset-ul
  li
    margin-bottom: 10px
    line-height: 16px
    a
      border: none
      img.avatar
        background: transparent
        margin-right: 4px
        vertical-align: middle
    &.note.more_notes_link_container
      margin-bottom: 0
      text-align: left !important
