.pagination
  line-height: 1
  @extend %reset-list
  @extend %clearfix
  @extend %header-margins
  li
    float: left
    margin-right: 10px
    a
      text-decoration: none
  .index.infinite-scrolling &
    visibility: hidden
  .index.custom-trigger-infinite-scrolling &
    li
      float: none
      margin-right: 0
      text-align: center
      a
        display: block
        padding: 10px
        background: transparent
