::-webkit-scrollbar-thumb:vertical
  height: 1 0px

::-webkit-scrollbar
  width: 5px
  height: 5px

a
  text-decoration: none

#title a:hover,
#description a:hover,
#navigation a:hover,
#copyright a:hover
  text-decoration: line-through

hr
  margin: 20px 0

iframe
  +border-radius(2px)

#like
  height: 0
  width: 0
  display: none
