/* ==========================================================================
   Placeholder
   ========================================================================== */

// webkit
::-webkit-input-placeholder
  font-style: normal

// mozilla
input:-moz-placeholder,
textarea:-moz-placeholder
  font-style: normal
