#search
  margin-top: 2em
  position: relative
  .searchfield
    border-style: solid
    border-width: 1px
    padding: 3px 8px 3px 24px
    width: 100%
    +border-radius(12px)
    +box-sizing(border-box)
    position: relative
    &:focus
      outline: none
  &:before
    +icomoon("search")
    position: absolute
    top: 6px
    left: 6px
    z-index: 1
    font-size: .8rem
