#title
  margin-top: 1em
  h1
    @extend %t-small
    margin: 0
    padding: 0 0 1em
    a
      text-decoration: none
      font-weight: bold
  .hide-title &
    display: none
  .hide-avatar &
    margin-top: 0
